{% extends "layout.html" %}

{% block content %}

<div class="row" id="products_page">
    
    <div class="col-md-12">
        <h3>Confirm Your Order Below:</h3>
        <hr>
        
        <div class="row">
            {% for product in products %}
            <p>{{product.item_name}}</p>
            {% endfor %}
            <p> Order Total: ${{ total_cost }}0 </p>

        </div>
    </div>
        <form action="/home" method="post" id="review_form">
            <div class="form-group" id="review_form_group">
                <label for="review">Review</label>
                <textarea class="form-control" id="review" name="review" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="review_button">Leave Review</button>
        </form>


</div>

{% endblock %}