{% extends "layout.html" %}

{% block content %}

<div class="row" id="products_page">
    
    <div class="col-md-12">
        <h3>Confirmation of Your Order Below:</h3>
        <hr>
        <p> Ordered Items: </p>
        
        <!-- <div class="row"> -->
            {% for order in order %}
            <ul>{{ order }} </ul>
           
            <ul>{{num_ordered}}</ul>
            
            <ul>{{espresso_count}}</ul>
            {% endfor %}
            <p> Order Total: ${{ total_cost }} </p>

        </div>
    </div>
        <form action="/home" method="post" id="review_form">
            <div class="form-group" id="review_form_group">
                <label for="review">Review</label>
                <textarea class="form-control" id="review" name="review" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="review_button">Leave Review</button>
        </form>


</div>

{% endblock %}